# Ignore virtual environments
env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore model weights
*.h5

# Ignore VSCode settings (optional)
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
